In [1]:
import pandas

In [22]:
import numpy

In [56]:
db = pandas.read_csv('mark.csv')

In [57]:
type(db)

pandas.core.frame.DataFrame

In [55]:
db

      Name  Hrs of Study  Mark
0  Chandra             6  60.0
1      Uma             7  70.0
2   Maitry             8  80.0
3    Pavan             5  50.0
4    Kiren             8   NaN

In [10]:
# Target / DV
y = db["Mark"]

In [46]:
y

0    60
1    70
2    80
3    50
Name: Mark, dtype: int64

In [21]:
# feature / IV
x = db["Hrs"]

In [24]:
type(x)

pandas.core.series.Series

In [25]:
x = x.values

In [26]:
type(x)

numpy.ndarray

In [35]:
x = x.reshape(4,1)

In [36]:
type(x)

numpy.ndarray

In [37]:
x.shape

(4, 1)

In [18]:
from sklearn.linear_model import LinearRegression

In [38]:
mind = LinearRegression()

In [39]:
# exp : model : Linear function
# w : weight / coeffiecient 
# model trained
mind.fit(x, y)

LinearRegression()

In [54]:
mind.predict([[8]])

array([80.])

In [59]:
# linear function: y = wx
# w = 10
mind.coef_

array([10.])

In [60]:
import joblib

In [61]:
joblib.dump(mind, 'marks1.pk1')

['marks1.pk1']